<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/images/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png">
    <link rel="apple-touch-icon" href="/images/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-180.png">
    <meta name="msapplication-TileColor" content="#44158F">
    <meta name="msapplication-TileImage" content="/images/favicon-144.png">
    <meta name="msapplication-config" content="browserconfig.xml">

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="banner">
        <nav>
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="2" width="32" height="4" rx="2" fill="#FAF9FB"/>
                <rect y="14" width="28" height="4" rx="2" fill="#FAF9FB"/>
                <rect y="26" width="24" height="4" rx="2" fill="#FAF9FB"/>
            </svg>
        </nav>

        <div class="banner-body">
            <svg width="211" height="51" viewBox="0 0 374 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M153.019 75.1138H157.327L144.017 38.3363H139.674L126.364 75.1138H130.672L133.649 66.5324H150.041L153.019 75.1138ZM134.945 62.7846L141.88 42.9947L148.745 62.7846H134.945ZM174.56 50.1051C171.057 50.1051 167.94 51.5061 165.593 53.7828V50.5954H161.81V89.8249H165.593V71.9264C167.94 74.2032 171.057 75.6042 174.56 75.6042C181.6 75.6042 187.309 69.8949 187.309 62.8546C187.309 55.8144 181.6 50.1051 174.56 50.1051ZM174.56 71.8214C169.586 71.8214 165.593 67.8284 165.593 62.8546C165.593 57.8809 169.586 53.9229 174.56 53.9229C179.499 53.9229 183.491 57.8809 183.491 62.8546C183.491 67.8284 179.499 71.8214 174.56 71.8214ZM207.274 50.1051C203.772 50.1051 200.654 51.5061 198.343 53.7828V50.5954H194.525V89.8249H198.343V71.9264C200.654 74.2032 203.772 75.6042 207.274 75.6042C214.315 75.6042 220.024 69.8949 220.024 62.8546C220.024 55.8144 214.315 50.1051 207.274 50.1051ZM207.274 71.8214C202.301 71.8214 198.343 67.8284 198.343 62.8546C198.343 57.8809 202.301 53.9229 207.274 53.9229C212.248 53.9229 216.241 57.8809 216.241 62.8546C216.241 67.8284 212.248 71.8214 207.274 71.8214ZM227.555 75.1138H231.477V38.3363H227.555V75.1138ZM250.427 50.1051C248.15 50.1051 246.083 51.0158 244.472 52.5569V50.5954H240.689V75.1138H244.472V59.4921C244.472 56.3748 246.994 53.9229 250.111 53.9229C253.264 53.9229 255.716 56.3748 255.716 59.4921V75.1138H259.498V59.4921C259.498 54.2732 255.155 50.1051 250.427 50.1051ZM274.21 75.6042C278.518 75.6042 282.055 72.7321 282.055 68.4939C282.055 64.0806 278.378 62.3643 275.19 61.0683C272.178 59.8074 270.672 59.1068 270.672 56.9702C270.672 54.9037 272.073 53.9229 274.104 53.9229C275.681 53.9229 277.082 54.5884 277.782 55.8844L281.075 54.1681C280.164 51.9615 277.047 50.1051 273.894 50.1051C270.287 50.1051 266.784 52.627 266.784 57.1103C266.784 60.9632 269.376 62.9247 273.719 64.5709C276.661 65.7268 278.273 66.5324 278.273 68.4939C278.273 70.6305 276.416 71.8564 274.21 71.8564C271.933 71.8564 269.726 70.5954 269.376 68.8091L265.698 70.2802C266.609 73.2224 270.287 75.6042 274.21 75.6042ZM290.812 46.007C292.248 46.007 293.474 44.8161 293.474 43.4151C293.474 41.8739 292.248 40.7881 290.812 40.7881C289.341 40.7881 288.115 41.8739 288.115 43.4151C288.115 44.8161 289.341 46.007 290.812 46.007ZM288.921 75.1138H292.738V50.5954H288.921V75.1138ZM322.02 50.5954V53.6427C319.744 51.4711 316.556 50.1051 313.124 50.1051C306.083 50.1051 300.374 55.7443 300.374 62.8546C300.374 69.8949 306.083 75.6042 313.124 75.6042C316.626 75.6042 319.744 74.2032 322.09 71.9264V77.2504C322.09 82.1541 318.027 86.2172 313.124 86.2172C309.166 86.2172 305.768 83.5902 304.612 80.0175L301.11 81.5587C302.896 86.5324 307.625 90 313.124 90C320.199 90 325.873 84.3257 325.873 77.2504V50.5954H322.02ZM313.124 71.8214C308.185 71.8214 304.192 67.7583 304.192 62.8546C304.192 57.8809 308.185 53.9229 313.124 53.9229C318.027 53.9229 322.09 57.8809 322.09 62.8546C322.09 67.7583 318.027 71.8214 313.124 71.8214ZM344.087 50.1051C342.055 50.1051 340.164 50.7706 338.623 51.8914V30H334.84V75.1138H338.623V59.4221C338.623 56.3047 341.075 53.9229 344.087 53.9229C347.099 53.9229 349.621 56.3047 349.621 59.4221V75.1138H353.334V59.4221C353.334 54.2032 349.236 50.1051 344.087 50.1051ZM373.264 54.2732V50.5954H366.714V39.9124H362.896V50.5954H358.798V54.2732H362.896V68.669C362.896 72.5569 366.154 75.6042 369.971 75.6042C371.197 75.6042 372.528 75.2539 373.194 74.7986V71.9264H370.392C368.43 71.9264 366.714 70.4553 366.714 68.1786V54.2732H373.264Z" fill="#FAF9FB"/>
                <path d="M103.091 16.3636H78.5454V4.09091C78.5454 3.00593 78.1144 1.96539 77.3473 1.1982C76.5801 0.431006 75.5395 0 74.4545 0H33.5454C32.4605 0 31.4199 0.431006 30.6527 1.1982C29.8855 1.96539 29.4545 3.00593 29.4545 4.09091V40.9091H4.90909C3.82411 40.9091 2.78357 41.3401 2.01638 42.1073C1.24918 42.8745 0.818176 43.915 0.818176 45V85.9091C0.818176 86.9941 1.24918 88.0346 2.01638 88.8018C2.78357 89.569 3.82411 90 4.90909 90H103.091C104.176 90 105.216 89.569 105.984 88.8018C106.751 88.0346 107.182 86.9941 107.182 85.9091V20.4545C107.182 19.3696 106.751 18.329 105.984 17.5618C105.216 16.7946 104.176 16.3636 103.091 16.3636Z" fill="#14D9D9"/>
            </svg>

            <h1 class="text-white">Survey Report</h1>
        </div>
    </div>

    <section class="hero">
        <svg width="374" height="90" viewBox="0 0 374 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M153.019 75.1138H157.327L144.017 38.3363H139.674L126.364 75.1138H130.672L133.649 66.5324H150.041L153.019 75.1138ZM134.945 62.7846L141.88 42.9947L148.745 62.7846H134.945ZM174.56 50.1051C171.057 50.1051 167.94 51.5061 165.593 53.7828V50.5954H161.81V89.8249H165.593V71.9264C167.94 74.2032 171.057 75.6042 174.56 75.6042C181.6 75.6042 187.309 69.8949 187.309 62.8546C187.309 55.8144 181.6 50.1051 174.56 50.1051ZM174.56 71.8214C169.586 71.8214 165.593 67.8284 165.593 62.8546C165.593 57.8809 169.586 53.9229 174.56 53.9229C179.499 53.9229 183.491 57.8809 183.491 62.8546C183.491 67.8284 179.499 71.8214 174.56 71.8214ZM207.274 50.1051C203.772 50.1051 200.654 51.5061 198.343 53.7828V50.5954H194.525V89.8249H198.343V71.9264C200.654 74.2032 203.772 75.6042 207.274 75.6042C214.315 75.6042 220.024 69.8949 220.024 62.8546C220.024 55.8144 214.315 50.1051 207.274 50.1051ZM207.274 71.8214C202.301 71.8214 198.343 67.8284 198.343 62.8546C198.343 57.8809 202.301 53.9229 207.274 53.9229C212.248 53.9229 216.241 57.8809 216.241 62.8546C216.241 67.8284 212.248 71.8214 207.274 71.8214ZM227.555 75.1138H231.477V38.3363H227.555V75.1138ZM250.427 50.1051C248.15 50.1051 246.083 51.0158 244.472 52.5569V50.5954H240.689V75.1138H244.472V59.4921C244.472 56.3748 246.994 53.9229 250.111 53.9229C253.264 53.9229 255.716 56.3748 255.716 59.4921V75.1138H259.498V59.4921C259.498 54.2732 255.155 50.1051 250.427 50.1051ZM274.21 75.6042C278.518 75.6042 282.055 72.7321 282.055 68.4939C282.055 64.0806 278.378 62.3643 275.19 61.0683C272.178 59.8074 270.672 59.1068 270.672 56.9702C270.672 54.9037 272.073 53.9229 274.104 53.9229C275.681 53.9229 277.082 54.5884 277.782 55.8844L281.075 54.1681C280.164 51.9615 277.047 50.1051 273.894 50.1051C270.287 50.1051 266.784 52.627 266.784 57.1103C266.784 60.9632 269.376 62.9247 273.719 64.5709C276.661 65.7268 278.273 66.5324 278.273 68.4939C278.273 70.6305 276.416 71.8564 274.21 71.8564C271.933 71.8564 269.726 70.5954 269.376 68.8091L265.698 70.2802C266.609 73.2224 270.287 75.6042 274.21 75.6042ZM290.812 46.007C292.248 46.007 293.474 44.8161 293.474 43.4151C293.474 41.8739 292.248 40.7881 290.812 40.7881C289.341 40.7881 288.115 41.8739 288.115 43.4151C288.115 44.8161 289.341 46.007 290.812 46.007ZM288.921 75.1138H292.738V50.5954H288.921V75.1138ZM322.02 50.5954V53.6427C319.744 51.4711 316.556 50.1051 313.124 50.1051C306.083 50.1051 300.374 55.7443 300.374 62.8546C300.374 69.8949 306.083 75.6042 313.124 75.6042C316.626 75.6042 319.744 74.2032 322.09 71.9264V77.2504C322.09 82.1541 318.027 86.2172 313.124 86.2172C309.166 86.2172 305.768 83.5902 304.612 80.0175L301.11 81.5587C302.896 86.5324 307.625 90 313.124 90C320.199 90 325.873 84.3257 325.873 77.2504V50.5954H322.02ZM313.124 71.8214C308.185 71.8214 304.192 67.7583 304.192 62.8546C304.192 57.8809 308.185 53.9229 313.124 53.9229C318.027 53.9229 322.09 57.8809 322.09 62.8546C322.09 67.7583 318.027 71.8214 313.124 71.8214ZM344.087 50.1051C342.055 50.1051 340.164 50.7706 338.623 51.8914V30H334.84V75.1138H338.623V59.4221C338.623 56.3047 341.075 53.9229 344.087 53.9229C347.099 53.9229 349.621 56.3047 349.621 59.4221V75.1138H353.334V59.4221C353.334 54.2032 349.236 50.1051 344.087 50.1051ZM373.264 54.2732V50.5954H366.714V39.9124H362.896V50.5954H358.798V54.2732H362.896V68.669C362.896 72.5569 366.154 75.6042 369.971 75.6042C371.197 75.6042 372.528 75.2539 373.194 74.7986V71.9264H370.392C368.43 71.9264 366.714 70.4553 366.714 68.1786V54.2732H373.264Z" fill="#FAF9FB"/>
            <path d="M103.091 16.3636H78.5454V4.09091C78.5454 3.00593 78.1144 1.96539 77.3473 1.1982C76.5801 0.431006 75.5395 0 74.4545 0H33.5454C32.4605 0 31.4199 0.431006 30.6527 1.1982C29.8855 1.96539 29.4545 3.00593 29.4545 4.09091V40.9091H4.90909C3.82411 40.9091 2.78357 41.3401 2.01638 42.1073C1.24918 42.8745 0.818176 43.915 0.818176 45V85.9091C0.818176 86.9941 1.24918 88.0346 2.01638 88.8018C2.78357 89.569 3.82411 90 4.90909 90H103.091C104.176 90 105.216 89.569 105.984 88.8018C106.751 88.0346 107.182 86.9941 107.182 85.9091V20.4545C107.182 19.3696 106.751 18.329 105.984 17.5618C105.216 16.7946 104.176 16.3636 103.091 16.3636Z" fill="#14D9D9"/>
        </svg>

        <h1 class="text-white">Survey Report</h1>
    </section>

    <main class="container">
        <section class="table-contents">
            <a href="#introduction">Introduction</a>
            <a href="#operating-systems">Operating Systems</a>
            <a href="#text-editors">Text Editors</a>
            <a href="#mail-readers">Mail Readers</a>
            <a href="#cloud-storage">Cloud Storage</a>
            <a href="#office-suites">Office Suites</a>
            <a href="#conclusion">Conclusion</a>
        </section>
        <section class="content">
            <article id="introduction">
                <h2>Introduction</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum erat at aenean in in platea nec. Lorem erat eu arcu nisl tellus, lacus, massa viverra purus. Integer aliquam dolor vestibulum, auctor blandit fermentum sed at facilisis. Ac ornare ornare vel ut mauris, ipsum libero imperdiet. Aliquam fermentum consectetur senectus vestibulum phasellus platea quam. Vestibulum enim enim rhoncus, feugiat commodo. Nunc sed sed auctor.
                </p>

                <div>
                    <!-- Chart goes here -->
                    <!--  -->
                </div>
            </article>

            <article id="operating-systems">
                <h2>Operating Systems</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum erat at aenean in in platea nec. Lorem erat eu arcu nisl tellus, lacus, massa viverra purus. Integer aliquam dolor vestibulum, auctor blandit fermentum sed at facilisis. Ac ornare ornare vel ut mauris, ipsum libero imperdiet. Aliquam fermentum consectetur senectus vestibulum phasellus platea quam. Vestibulum enim enim rhoncus, feugiat commodo. Nunc sed sed auctor.
                </p>

                <div>
                    <!-- Chart goes here -->
                </div>
            </article>

            <article id="text-editors">
                <h2>Text Editors</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum erat at aenean in in platea nec. Lorem erat eu arcu nisl tellus, lacus, massa viverra purus. Integer aliquam dolor vestibulum, auctor blandit fermentum sed at facilisis. Ac ornare ornare vel ut mauris, ipsum libero imperdiet. Aliquam fermentum consectetur senectus vestibulum phasellus platea quam. Vestibulum enim enim rhoncus, feugiat commodo. Nunc sed sed auctor.
                </p>

                <div>
                    <!-- Chart goes here -->
                </div>
            </article>

            <article id="mail-readers">
                <h2>Mail Readers</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum erat at aenean in in platea nec. Lorem erat eu arcu nisl tellus, lacus, massa viverra purus. Integer aliquam dolor vestibulum, auctor blandit fermentum sed at facilisis. Ac ornare ornare vel ut mauris, ipsum libero imperdiet. Aliquam fermentum consectetur senectus vestibulum phasellus platea quam. Vestibulum enim enim rhoncus, feugiat commodo. Nunc sed sed auctor.
                </p>

                <div>
                    <!-- Chart goes here -->
                </div>
            </article>

            <article id="cloud-storage">
                <h2>Cloud Storage</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum erat at aenean in in platea nec. Lorem erat eu arcu nisl tellus, lacus, massa viverra purus. Integer aliquam dolor vestibulum, auctor blandit fermentum sed at facilisis. Ac ornare ornare vel ut mauris, ipsum libero imperdiet. Aliquam fermentum consectetur senectus vestibulum phasellus platea quam. Vestibulum enim enim rhoncus, feugiat commodo. Nunc sed sed auctor.
                </p>

                <div>
                    <!-- Chart goes here -->
                </div>
            </article>

            <article id="office-suites">
                <h2>Office Suites</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum erat at aenean in in platea nec. Lorem erat eu arcu nisl tellus, lacus, massa viverra purus. Integer aliquam dolor vestibulum, auctor blandit fermentum sed at facilisis. Ac ornare ornare vel ut mauris, ipsum libero imperdiet. Aliquam fermentum consectetur senectus vestibulum phasellus platea quam. Vestibulum enim enim rhoncus, feugiat commodo. Nunc sed sed auctor.
                </p>

                <div>
                    <!-- Chart goes here -->
                </div>
            </article>

            <article id="conclusion">
                <h2>Conclusion</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum erat at aenean in in platea nec. Lorem erat eu arcu nisl tellus, lacus, massa viverra purus. Integer aliquam dolor vestibulum, auctor blandit fermentum sed at facilisis. Ac ornare ornare vel ut mauris, ipsum libero imperdiet. Aliquam fermentum consectetur senectus vestibulum phasellus platea quam. Vestibulum enim enim rhoncus, feugiat commodo. Nunc sed sed auctor.
                </p>

                <div>
                    <!-- Chart goes here -->
                </div>
            </article>
        </section>
    </main>
</body>
</html>
