$primary-dark: #29075F;
$primary:  #44158F;
$primary-light: #A36EF7;

$secondary-dark: #007A7A;
$secondary: #14D9D9;
$secondary-light: #66EAEA;

$grey-darker: #2D2834;
$grey-dark: #40394C;
$grey: #5A5365;
$grey-light: #B0A9BC;

$off-white: #FAF9FB;